<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
    integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
  <title>Studio137 Assignment</title>
</head>
<body>
  <div class="container">
    <h1 class="display-1">Studio137 Assignment </h1>


    <button type="button" class="btn btn-primary" onclick="location.href='/user/register'" ;>Register</button>

    <button type="button" class="btn btn-info" onclick="location.href='/user/login'" ;>Login</button>
    <button type="button" class="btn btn-success" onclick="location.href='/products'" ;>Get Prouducts</button>

    <!-- <button> <a href="/categoryMaster">Categoy Master</a> </button>
    <button>Product Master</button> -->
  </div>

</body>
</html>
